page {
    height: auto;
}
.process {
    width: 750rpx;
    padding-top: 20rpx;
    padding-bottom: 120rpx;
    background-image: url('https://s2.loli.net/2022/07/10/RiIk2dCLM9fFp1s.png');
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    position: relative;
}

.process-content {
    width: 750rpx;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10rpx;
    padding-bottom: 40rpx;
}