.tabbar {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}

.tabbar-list {
  width: 100%;
  color: #344356;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 0px -12px 37px 0px rgba(230, 235, 243, 0.9);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-sizing: border-box;
}

.tabbar-list-ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.tabbar-list-li-icon {
  width: 56rpx;
  height: 56rpx;
  margin: 0 auto;
  padding: 20rpx 0;
}

.tabbar-list-li-icon-image {
  width: 56rpx;
  height: 56rpx;
}

.tabbar-list-li-name {
  width: 100%;
  height: 40rpx;
  text-align: center;
  line-height: 40rpx;
  font-size: 28rpx;
  font-family: Microsoft YaHei;
}
