.notice-item {
  width: 674rpx;
  height: 60rpx;
  border: 2px solid #f88c35;
  background: rgba(248, 140, 53, .12);
  color: #f88c35;
  border-radius: 10rpx;
  /*padding-bottom: 20rpx;*/
}

.notice-main {
  width: 674rpx;
  height: 60rpx;
  border-radius: 10rpx;
  display: flex;
  align-items: center;
  padding: 0 20rpx;
  box-sizing: border-box;
}

.notice-img {
  width: 29rpx;
  height: 29rpx;
  margin-right: 20rpx;
}

/* 默认公告 */
.notice-text {
  background: rgba(53, 140, 248, .12);
  border: 2px solid #358cf8;
  color: #358cf8;
}
/* 警告公告 */
.notice-warning {
  /*background: rgba(248, 140, 53, .12);*/
  /*border: 2px solid #f88c35;*/
  color: #f88c35;
}
